<main>
  <div class="logo">
    <img
      class="logo"
      src="assets/image/img.svg" alt=""
      width="25%"
      height="100%"
    >
  </div>
  <div class="text medium">
    <h2>REGISTER</h2>
  </div>
  <div class="include">
    <app-input
      type="email"
      image="assets/image/mail.svg"
      text="Example: marcus.w@gmail.com"
      placeHolder="Email">
    </app-input>
    <app-input
      type="password"
      image="assets/image/key.svg"
      text="8 symbols or more"
      placeHolder="Password">
    </app-input>
    <app-input
      type="password"
      image="assets/image/key.svg"
      text="Repeat password"
      placeHolder="Password">
    </app-input>
    <app-button
      image="assets/image/register.svg"
      text="REGISTER">
    </app-button>
  </div>
</main>
