
// colors:

$color: #444;
$col-bottom: rgba(49, 49, 49, 0.15);
$col-blue: #27AAF0;
$col-light: rgba(49, 49, 49, 0.73);
$col-active: #27AAF0;
$col-m-active: rgba(39, 170, 240, 1);
$col-hover: rgba(49, 49, 49, 0.1);
$col-w: #FFFFFF;
$col-line: rgba(49, 49, 49, 0.6);
$col-disable: rgba(120, 145, 159, 0.6);
$col-tags: rgba(49, 49, 49, 0.1);
$col-medium: rgba(0, 0, 0, 1);
