div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

input{
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

@media (max-width: 530px) {
  div {
    justify-content: center;
    margin-top: 8px;
  }
  label {
    font-size: 13px;
  }
  input {
    width: 20px;
    height: 20px;
  }
}

