<main>
  <div class="logo">
    <img
      class="logo"
      src="assets/image/img.svg" alt=""
      width="25%"
      height="100%"
    >
  </div>
  <h2 class="text medium">
    <h2>LOGIN</h2>
  </h2>
  <div class="include">
    <form [formGroup]="form"
    (ngSubmit)="onSubmit()"
    >
      <app-input
        type="email"
        image="assets/image/avatarGrey.svg"
        text="Up to 40 symbols"
        [control]="form.get('email')"
        placeHolder="Username">
      </app-input>
      <app-input
        type="password"
        image="assets/image/key.svg"
        text="8 symbols or more"
        [control]="form.get('password')"
        placeHolder="Password">
      </app-input>
      <app-button
        image="assets/image/login.svg"
        text="LOGIN"
        [stage]="form.invalid || form.disabled"
        type="submit">
      </app-button>
      <app-check-box
        text="Remember me">
      </app-check-box>
    </form>
  </div>
</main>
