
@import url("https://fonts.googleapis.com/css?family=Quicksand:regular,medium,semi-bold,300,400,500,bold,light&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");

body{
  margin: 0px;
  pading: 0ph;
}

.medium{
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
}

.normal{
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: black;
}
